body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
    font-size: 3rem;
    margin-left: 5rem;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #4d45b8;
  text-decoration: underline;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-top: 10px;
}

li strong {
  font-size: 18px;
}

li p {
  font-size: 14px;
  margin: 10px 0 5px 0;
  color: #555;
}
